/*颜色值*/
$darkBlue: #2c409a;
$steelBlue: #a3a9c2;
$green: #75debc;

$bgColor: #fff;
$mainColor: $darkBlue;
$t1Color: #363636;
$t2Color: #4c4c4c;
$t3Color: #a2a2a2;
$iconColor: $steelBlue;
$textBgColor: #f8f8f8;

/*结构*/
$navHeight: 49px;
$headHeight: 44px;
$sideMargin: 15px;

/*层次*/
$zIndexNav: 980;
$zIndexOperation: 990;
$zIndexDialog: 990;
$zIndexPage: 990;
$zIndexSupTop: 1000;